@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/* font-family: 'Lexend Deca', sans-serif; */

:root {
  -clr-very-dark-blue: hsl(233, 47%, 7%);
  -clr-dark-desaturated-blue: hsl(244, 38%, 16%);
  -clr-soft-violet: hsl(277, 64%, 61%);

  -clr-white: hsl(0, 0%, 100%);
  -clr-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  -clr-slightly-transparent-whit: hsla(0, 0%, 100%, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
}

.main-container {
  /*  background: burlywood; */
  margin: 0 auto;
  width: 80%;
}
.card {
 /* max-width: 976px;*/
 /*max-width: 1900px;*/
   width: 69.375rem;
  height: 27.875rem;

  display: flex;
  margin: 0 auto;
  margin-top: 150px;
}
.img-section {
  width: 50%;
  position: relative;
}
.img-section:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*  background: rgba(0, 0, 255, 0.5); */
  background: hsla(277, 64%, 61%, 0.554);
  border-radius: 0 12px 12px 0;
}
.img-section img {
  background-color: yellow;
  width: 100%;
  display: block;
  float: right;
  border-radius: 0 12px 12px 0;
}
.left-section {
  width: 50%;
  padding: 27px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 12px 0 0 12px;
}
.left-section h1 {
  color: hsl(0, 0%, 100%);
  font-size: 32px;
}
.paragraph {
  color: hsla(0, 0%, 100%, 0.6);
  padding-top: 13px;
  margin-top: 37px;
  font-family: "Lexend Deca", sans-serif;
}

.bottom-section {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 60px;
}
.div1 p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: bold;
}
.insights-color-change {
  color: hsl(277, 64%, 61%);
}
.left-content {
  padding: 12px;
}

@media screen and (max-width: 1135px) {
  .main-container {
    margin: auto;
  }
  .card {
    width: 1200px;
    display: flex;
    flex-direction: column-reverse;
    margin: 12px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .bottom-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img-section:before {
    display: flex;
    align-items: center;
  }
  .left-section,
  .img-section img,
  .img-section:before {
    border-radius: 0;
  }
}
