/* google fonts import (Outfit, sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* Varibles */
:root {
  /* colors */

  /* Primary */
  --clr-Pale-blue: hsl(225, 100%, 94%);
  --clr-Bright-blue: hsl(245, 75%, 52%);

  /*  Neutral */
  --clr-Very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-Dark-blue: hsl(223, 47%, 23%);

  /* Typography */

  /* font family */
  --ff-Red-Hat-Display: "Red-Hat-Display", sans-serif;

  /* font weight */
  --fw-medim: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-Red-Hat-Display);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--clr-Pale-blue);
}

.card-container {
  width: 450px;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
   padding-top: 50px;
}
.card {
  background: #fff;
  width: 100%;
   margin-top: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.centr-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
   align-items: center;
}
.order-header {
  color: var(--clr-Dark-blue);
   font-size: 1.8rem;
  margin: 25px 0;
  margin-top: 50px;
  font-weight: 1000;
}
.paragraph {
  color: var(--clr-desaturated-blue);
  font-size: 18px;
  font-weight: 300 !important;
 /* margin-top: 25px;*/
  margin-bottom: 20px;
  line-height: 1.6rem;
  width: 80%;
  justify-content: center;
  text-align: center;
  display: flex;
}
.mid-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 12px;
  margin-top: 12px;
  background: var(--clr-Very-pale-blue);
  padding: 12px 10px;
}
.music-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 12px;
}
.price-container {
  /* margin: 0; */
}
.annul-plan {
  font-size: 14px;
  margin-top: 0.5rem;
}
.price {
  color: var(--clr-desaturated-blue);
  margin-top: 0.5rem;
}
.change {
  display: flex;
  margin: auto;
    margin-left: 134px;
  font-size: 15px;
  color: var(--clr-Bright-blue);
  text-decoration: underline;
  cursor: pointer;
}
.change:hover {
  color: var(--clr-desaturated-blue);
}
button {
  width: 19rem;
   padding: 16px;
  margin-top: 36px;
  background: var(--clr-Bright-blue);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
   box-shadow: 0 8px 16px -8px darkblue;
}
button:hover {
  background: var(--clr-desaturated-blue);
}
.cancel {
  color: var(--clr-desaturated-blue);
  font-size: 1rem;
  margin: 21px;
  cursor: pointer;
}
.cancel:hover {
  color: #000;
}

@media only screen and (max-width: 313px) {
  .card-container {
    width: 305px;
    margin: 12px 4px;
  }
  .mid-content {
    width: 17rem;
  }
  .change {
    margin: auto;
  }
  button {
    width: 16rem;
  }
}
